<form hx-post="/operations/add" hx-target="#operations-list" hx-swap="innerHTML">
    <label for="username">Username</label>
    <select id="username" name="username">
        <option value="guest">Guest</option>
		{% for username in users %}
        <option value={{username}}>{{username}}</option>
		{% endfor %}
    </select>

    <label for="type">Type:</label>
    <select id="type" name="type">
        <option value="income">Income</option>
        <option value="expense">Expense</option>
    </select>

    <label for="amount">Amount:</label>
    <input type="number" step="0.01" id="amount" name="amount" required>

    <button type="submit">Add</button>
</form>

